 @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:wght@300&family=Rowdies:wght@300&family=Signika+Negative:wght@300&family=Taviraj:ital,wght@1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: inherit;
}
body{
    background-color: black;
    color: white;
}
.navbar :hover{
    color: orange;
}
.signup{
    /* background-color: black; */
    color: orange;
    width: 100px;
    padding: 20px;
}
.modal-body{
    background-color: black;
    color: white;
    padding-left: 100px;
    
}
textarea{
    display: flex;
    height: 80px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.messageBox{
    align-items: center;
    position: relative;
    display: grid;
    justify-content: center;
}
input[type=text],
input[type=tel],
input[type=email] {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-footer{
    background-color: black;
}
.subButton{
    background-color: orange;
    color: white;
    font-size: 300;
    width: 120px;
    padding: 9px;
}
.cancelButton{
    background-color: black;
    color: orange;
    font-size: 300;
    width: 120px;
    padding: 9px;
}
.adminWall{
    background-image: url(https://i.postimg.cc/zvmwXbzK/London-1024x683.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
}
.sneakercollection{
    background-image: url(https://i.postimg.cc/d1bnfNg2/desktop-wallpaper-canadian-sneakerheads-on-how-they-re-surviving-quarantine.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing{
    background-image: url(https://i.postimg.cc/KjxvPc4M/291109303-1408619176231720-6716812370712594682-n.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
}
.products-list{
    background-image: url(https://i.postimg.cc/CKrhn6B1/KOV00682.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%; 
}
.card{
    background-color: black;
    color: white;
    text-align: center;
}
.heading{
    text-align: center;
}
p{
    text-align: center;
}
#newCollection{
    border: solid orange;
    padding: 50px;
    text-decoration: bold;
}
#newCollection h2{
    text-decoration: underline orange;
}
.footer{
    display:flex;
    justify-content: flex;
    width: auto;
    height: auto;
    border: white;
    padding: 60px;
}
.aboutImage{
    width: 300px;
    height: 300px;
}
.clearfix{
    display: flex;
    justify-content: inherit;
    padding: auto;
    width: auto;
}
.fa{
    font-size: 2rem !important;
    width: 50px;
    text-decoration: none;
    color: orange;
}
.footer-bottom{
    width:auto;
    height: 60px;
    background-color: black;
    color:white;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.snkercard{
    width: 200px;
    height: 200px;
}
/* table{
    border: 10px solid red;
    background-color: white;
    color: black;
    padding: auto;
    width: fit-content;
    margin: auto;
} */
.adminheading{
    text-align: center;
}
.ADDbtn{
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: sticky;
}
.adminModal-body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.modal-header{
    color: orange;
    text-align: center;
    font-size: medium;
    background-color: black;
}
#products-buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 20px;
}
.showAll{
 color: black;
 background-color: orange;
}
.showAll :hover{
    color: orange;
    background-color: black;
    animation-direction: reverse;
}
.sneakerBTN{
    color: orange;
    background-color: black;
}
.sneakerBTN :hover{
    color: black;
    background-color: orange;
}
.fimage{
    width: 80px;
    height: 80px;
}
.fimage1{
    width: 200px;
    height: 100px;
}
.submitBTN{
    color: white;
    background-color: orange;
    font-weight: 300;
    padding: 20px;
}
.paragraph{
    font-size: x-large;
    color: orange;
    animation-direction: reverse 0.30s;
}
